<!DOCTYPE html>
<html ng-app="app" ng-csp="">
<head>
  <meta charset="UTF-8">
  <title>Aurora</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body ng-controller="MainCtrl">
  <div class="container">
    <h1>Spark Ring</h1>

    <form class="form-horizontal" role="form">

      <div class="form-group">
        <span class="col-sm-offset-2 col-sm-8" ng-bind="status"></span>
      </div>

      <div class="form-group">
        <label for="inputDeviceId" class="col-sm-2 control-label">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseDeviceId" aria-expanded="true" aria-controls="collapseDeviceId">Device ID</a>
        </label>
        <div class="col-sm-6" id="collapseDeviceId">
          <input ng-model="deviceId" class="form-control" id="inputDeviceId" placeholder="Device Id" />
        </div>
      </div>

      <div class="form-group">
        <label for="inputAccessToken" class="col-sm-2 control-label">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseAccessToken" aria-expanded="true" aria-controls="collapseAccessToken">Access Token</a>
        </label>
        <div class="col-sm-6" id="collapseAccessToken">
          <input ng-model="accessToken" class="form-control" id="inputAccessToken" placeholder="Access Token" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
          <button class="btn" id="btnConnect" ng-click="connect()" ng-disabled="busy">Connect</button>
          <button class="btn" id="btnSave" ng-click="save()" ng-disabled="busy">Save</button>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-1">
          <button class="btn" id="btnPower" ng-click="togglePower()" ng-disabled="busy || disconnected">
            <span class="glyphicon glyphicon-off"></span>
          </button>
        </div>
      </div>

      <div class="form-group">
        <label for="inputBrightness" class="col-sm-2 control-label">Brightness</label>
        <div class="col-sm-4">
          <input ng-model="brightness" class="form-control" id="inputBrightness" type="number" min="0" max="255" ng-disabled="busy || disconnected" />
        </div>
        <div class="col-sm-1">
          <button class="btn" id="btnSetBrightness" ng-click="setBrightness()" ng-disabled="busy || disconnected">Set</button>
        </div>
      </div>

      <div class="form-group">
        <label for="inputPattern" class="col-sm-2 control-label">Pattern</label>
        <div class="col-sm-4">
          <select size="10" ng-model="pattern" class="form-control" id="inputPattern" ng-options="pattern.name for pattern in patterns" ng-disabled="busy || disconnected">
          </select>
        </div>
        <div class="col-sm-1">
          <button class="btn" id="btnSetPattern" ng-click="setPattern()" ng-disabled="busy || disconnected">Set</button>
        </div>
      </div>

    </form>
  </div>
  <script src="./bower_components/jquery/dist/jquery.min.js"></script>
  <script src="./bower_components/angular/angular.min.js"></script>
  <script src="./bower_components/angular-route/angular-route.min.js"></script>
  <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
