<!DOCTYPE html>
<html ng-app="app" ng-csp="">
<head>
  <meta charset="UTF-8">
  <title>Spark Ring</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body ng-controller="MainCtrl">
  <div class="container">
    <h1>Spark Ring</h1>

    <form class="form-horizontal" role="form">

      <div class="form-group">
        <span class="col-sm-offset-3 col-sm-9" ng-bind="status"></span>
      </div>

      <div class="form-group">
        <label for="inputDeviceId" class="col-sm-3 control-label">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseDeviceId" aria-expanded="true" aria-controls="collapseDeviceId">Device ID</a>
        </label>
        <div class="col-sm-9" id="collapseDeviceId">
          <input ng-model="deviceId" class="form-control" id="inputDeviceId" placeholder="Device Id" />
        </div>
      </div>

      <div class="form-group">
        <label for="inputAccessToken" class="col-sm-3 control-label">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseAccessToken" aria-expanded="true" aria-controls="collapseAccessToken">Access Token</a>
        </label>
        <div class="col-sm-9" id="collapseAccessToken">
          <input ng-model="accessToken" class="form-control" id="inputAccessToken" placeholder="Access Token" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button class="btn" id="btnConnect" ng-click="connect()" ng-disabled="busy">Connect</button>
          <button class="btn" id="btnSave" ng-click="save()" ng-disabled="busy">Save</button>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button class="btn" id="btnPower" ng-click="togglePower()" ng-disabled="busy || disconnected">
            <span class="glyphicon glyphicon-off"></span>
          </button>
        </div>
      </div>

      <div class="form-group">
        <label for="inputTimezone" class="col-sm-3 control-label">Time Zone</label>
        <div class="col-sm-8">
          <input ng-model="timezone" class="form-control" id="inputTimezone" type="number" min="-12" max="13" ng-disabled="busy || disconnected" />
        </div>
        <div class="col-sm-1">
          <button class="btn" id="btnSetTimezone" ng-click="setTimezone()" ng-disabled="busy || disconnected">Set</button>
        </div>
      </div>

      <div class="form-group">
        <label for="inputBrightness" class="col-sm-3 control-label">Brightness</label>
        <div class="col-sm-8">
          <input ng-model="brightness" class="form-control" id="inputBrightness" type="number" min="0" max="255" ng-disabled="busy || disconnected" />
        </div>
        <div class="col-sm-1">
          <button class="btn" id="btnSetBrightness" ng-click="setBrightness()" ng-disabled="busy || disconnected">Set</button>
        </div>
      </div>

      <div class="form-group">
        <label for="inputPattern" class="col-sm-3 control-label">Pattern</label>
        <div class="col-sm-8">
          <select size="10" ng-model="pattern" class="form-control" id="inputPattern" ng-options="pattern.name for pattern in patterns" ng-disabled="busy || disconnected">
          </select>
        </div>
        <div class="col-sm-1">
          <button class="btn" id="btnSetPattern" ng-click="setPattern()" ng-disabled="busy || disconnected">Set</button>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button class="btn" id="btnFlipClock" ng-click="toggleFlipClock()" ng-disabled="busy || disconnected">Flip Clock</button>
        </div>
      </div>

      <div class="form-group">
        <label for="inputColor" class="col-sm-3 control-label">Color</label>
        <div class="col-sm-8">
          <input colorpicker="rgb" type="text" ng-model="color" class="form-control" id="inputColor" ng-disabled="busy || disconnected" />
        </div>
        <div class="col-sm-1">
          <button class="btn" id="btnSetColor" ng-click="setColor()" ng-disabled="busy || disconnected">Set</button>
        </div>
      </div>

      <div class="form-group">
        <label for="inputR" class="col-sm-3 control-label">Red</label>
        <div class="col-sm-8">
          <input ng-model="r" class="form-control" id="inputR" type="number" min="0" max="255" ng-disabled="busy || disconnected" />
        </div>
        <div class="col-sm-1">
          <button class="btn" id="btnSetR" ng-click="setR()" ng-disabled="busy || disconnected">Set</button>
        </div>
      </div>

      <div class="form-group">
        <label for="inputG" class="col-sm-3 control-label">Green</label>
        <div class="col-sm-8">
          <input ng-model="g" class="form-control" id="inputG" type="number" min="0" max="255" ng-disabled="busy || disconnected" />
        </div>
        <div class="col-sm-1">
          <button class="btn" id="btnSetG" ng-click="setG()" ng-disabled="busy || disconnected">Set</button>
        </div>
      </div>

      <div class="form-group">
        <label for="inputB" class="col-sm-3 control-label">Blue</label>
        <div class="col-sm-8">
          <input ng-model="b" class="form-control" id="inputB" type="number" min="0" max="255" ng-disabled="busy || disconnected" />
        </div>
        <div class="col-sm-1">
          <button class="btn" id="btnSetG" ng-click="setB()" ng-disabled="busy || disconnected">Set</button>
        </div>
      </div>

    </form>
  </div>
  <script src="./bower_components/jquery/dist/jquery.min.js"></script>
  <script src="./bower_components/angular/angular.min.js"></script>
  <script src="./bower_components/angular-route/angular-route.min.js"></script>
  <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="js/bootstrap-colorpicker-module.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
